.navbar-container {
  min-height: 100px;
  background-color: #fff;
  box-shadow: 1px 0px 10px 6px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-inner-top-element {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.navbar-bottom-element {
  min-height: 40px;
  width: 100%;
}

.navbar-logo {
  height: 50px;
  width: 140px;
}

.navbar-title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.025em;
  width: 140px;
  text-align: center;
}

.navbar-menu {
  justify-content: space-evenly;
  width: 100%;
  margin-left: 35px;
}

.navbar-menu li {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-menu li:hover {
  background-color: #e6e5e6;
}

.navbar-menu-toggle {
  border: 0;
  background-color: unset;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.navbar-menu-toggle i {
  font-size: 20px;
  color: #333;
}

@media (min-width: 576px) {
  .navbar-inner-top-element {
    justify-content: space-between;
  }

  .navbar-logo {
    margin-left: 15px;
  }

  .navbar-title {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-logo {
    margin-left: 25px;
  }

  .navbar-title {
    margin-right: 25px;
    width: 250px;
  }

  .navbar-menu {
    margin-left: 0;
  }

  .navbar-menu li {
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .navbar-container {
    min-height: 140px;
  }

  .navbar-inner-top-element {
    height: 90px;
  }

  .navbar-bottom-element {
    min-height: 50px;
    width: 100%;
  }

  .navbar-title {
    margin-right: 25px;
    width: 300px;
  }

  .navbar-menu li {
    padding: 3px 15px;
  }

  .navbar-logo {
    height: 70px;
    width: 178px;
  }

  .navbar-title {
    font-size: 20px;
    width: 390px;
  }
}
